# docker-compose.yml

version: '3.8'

services:
  web:
    build: .
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; uvicorn app.main:app --host 0.0.0.0 --port 8080 --reload'
    volumes:
      - .:/app
    ports:
      - 8080:8080
    environment:
      - DATABASE_URL=postgresql://truefaces:truefaces@db:5432/truefaces
      - SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
    depends_on:
      - db
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    expose:
      - 5432
    environment:
      - POSTGRES_USER=truefaces
      - POSTGRES_PASSWORD=truefaces
      - POSTGRES_DB=truefaces

volumes:
  postgres_data: